<nav class="NavBar">
  <ul class="Ul">
    <li class="Li">
      <a href="/">Home</a>
      </li>
    <li class="Li">
      <a href="/about">About</a>
      </li>
    <li class="Li">
      <a href="/project">Project</a>
      </li>
    <li class="Li">
      <a href="/blog">Blog</a>
      </li>
  </ul>
</nav>

<style is:global>
/* Se agrego is:gobal para seleccionar los stilod desde cualquier parte del proyecto */
  .NavBar{ /*Elemento Seleccionado*/
    display: grid;
    position: fixed;
    top: 40px;
    width: 100%;
    left: 100%;
    margin-top: 3rem;
    transition: left 0.3s;
    background: linear-gradient(#101818,#030712);
    height: calc(100% - 40px);
    z-index: 1; /*Lo posicionamos arriva*/
  }
  .NavBarVicible{ /*Elemento Seleccionado*/
    left: 0;
  }
  .Ul{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
  }
  .Li{
    font-size: 2.5rem;
    font-weight: bold;
  }
  .Li:hover{
      padding-right: 0.2rem;
      transition: all 0.5s;
      background: white;
      color: black;
      padding: 3px 10px;
      border-radius: 0.7rem;
    }
  @media(min-width: 768px){
    .NavBar{
      display: block;
      position: static;
      width: auto;
      margin-top: 0;
      background: none;
    }
    .Ul{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      
    }
    .Li{
      opacity: 80%;
      font-size: 1rem;
    }
    .Li:hover{
      padding: 3px 5px;
    }
  }
  @media(min-width: 1024px){
    .Li{
      font-size: 1.5rem;
    }
    .Ul{
      gap: 1rem;
    }
  }
  @media(min-width: 1440px){
    .Li{
      font-size: 2rem;
    }
    .Ul{
      gap: 1.2rem;
    }
  }
</style>