---
import CardCategory from '../../components/CategoryComponents/CardCategory.astro';
---

<div class="flex overflow-x-auto  gap-4 md:gap-0 place-content-evenly">
<div>
  <CardCategory
   title = "Mas Sobre Mi"
   subtitle = "Aqui encontras mucha mas informacion sobre mi"
   />
</div>
<div>
  <CardCategory
   title = "Recursos"
   subtitle = "Aqui encontraras recursos para programacion"
   />
</div>
<div>
  <CardCategory
   title = "Otros Canales"
   subtitle = "Mis otros canales que te pueden interesar"
   />
</div>
</div>