---
import Logo from '../../components/UiComponent/HeaderTitle.astro';
import Nav from '../../components/HomeComponet/HeaderComponent/NavComponent.astro';
---

<header class="h-[4.5rem] flex place-items-center justify-between gap-2 pl-3 pr-3 text-white md:pl-[1rem] md:pr-[1rem]  2xl:h-[6rem] ">
  
  <Logo
  urltitle="/"
  url="/DevTop.jpeg" 
  title="Devtop" />
  <Nav />
  
  <!--Button home menu-->
  <div class="md:hidden">
    <button class="homeButton">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</header>

<style>
  .homeButton {
    display: flex;
    flex-direction: column;
    height: 1.5rem;
    width: 1.5rem;
    border: 0;
    background: transparent;
    gap: 0.35rem;
    place-content: center;
    cursor: pointer;  /* Cursor de puntero */
  }
  .homeButton > div {
    background: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s;
    transform-origin: left;
    align-items: center;
  }
  /*Animacion del Button Haburguesa*/
  /*Se agrego .active para manipularlo desde Js*/
  .homeButton.active > div:first-child {
    transform: rotate(39deg);
  }
  .homeButton.active > div:nth-child(2) {
    opacity: 0;
  }
  .homeButton.active > div:last-child {
    transform: rotate(-39deg);
  }

</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const navToggle = document.querySelector(".homeButton");
    const navMenu = document.querySelector(".NavBar");
    const LiToggle = document.querySelector(".Ul");
    
    //Se agrego un if para verificar y no probocar un Null
    if (navToggle && navMenu) {
      navToggle.addEventListener("click", () => {
        navMenu.classList.toggle("NavBarVicible");
        navToggle.classList.toggle("active");  // Alterna la clase 'active' en el botón
      });
    } else {
      console.error("navToggle or navMenu not found");
    }
    
   //En caso de error Eliminar
    if (LiToggle && navMenu) {
      LiToggle.addEventListener("click", () => {
        navMenu.classList.toggle("NavBarVicible");
        navToggle.classList.toggle("active");  // Alterna la clase 'active' en el botón
      });
    } else {
      console.error("LiToggle or navMenu not found");
    }
  });
</script>