---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About">
  <h1>Tutoriales</h1>
  <div class="bg-violet-400 h-52 w-52 mt-10">
    <h2>Card</h2>
  </div>
    <div class="bg-violet-400 h-52 w-52 mt-10">
    <h2>Card</h2>
  </div>
    <div class="bg-violet-400 h-52 w-52 mt-10">
    <h2>Card</h2>
  </div>
    <div class="bg-violet-400 h-52 w-52 mt-10">
    <h2>Card</h2>
  </div>
</Layout>