---
interface Props {
titleEvento: string;
url: string;
}
const {titleEvento, url} = Astro.props;
---
<head>
  <!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">-->
</head> 

<button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-32 bg-yellow-500 hover:bg-yellow-600 text-white px-4 py-2 rounded-full"><a href={url} >{titleEvento}</a>        </button>



        
 <style>
   

/*.box{
  
  font-family: "Lilita One", sans-serif;
  font-weight: 300;
  font-style: normal;
}*/
 </style>